<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attendance Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="title" class="container-fluid">
      <h1>Greetings! I am your Personal Attendance Manager.</h1>
      <h3>With me here, you will never get a grade drop again ^^</h3>
    </div>

    <div class="container table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Present</th>
            <th>Absent</th>
            <th>Subject</th>
            <th>Attended Classes</th>
            <th>Attendance</th>
          </tr>
        </thead>
        <tbody>
          <%subjectList.forEach(function(subject){ %>
            <tr>
              <td><form action="/present" method="post">
                <button type="submit" name="button" value="button1">Click</button>
              </form></td>
              <td><form action="/absent" method="post">
                <button type="submit" name="button" value="button2">Click</button>
              </form></td>
              <td><%=subject.subjectName%></td>
              <td><%=subject.present%>/<%=subject.total%></td>
              <td><%=(subject.present/subject.total)*100%>%</td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
